/*
 _____  __  __  ____                __                   
/\___ \/\ \/\ \/\  _`\             /\ \                  
\/__/\ \ \ \_\ \ \ \/\_\    ___    \_\ \     __    ____  
   _\ \ \ \  _  \ \ \/_/_  / __`\  /'_` \  /'__`\ /',__\ 
  /\ \_\ \ \ \ \ \ \ \L\ \/\ \L\ \/\ \L\ \/\  __//\__, `\
  \ \____/\ \_\ \_\ \____/\ \____/\ \___,_\ \____\/\____/
   \/___/  \/_/\/_/\/___/  \/___/  \/__,_ /\/____/\/___/ 
                                                         
http://www.jhcodes.com/
Jesus Herrera - jesuxherrera@jhcodes.com
*/

@media(max-width:767px){

#header{
	width: 100%;
}

#name{
	text-align: center;
}

#menu{
	text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;	
}

#bodypage{
	margin-top: 35px;
}


.loadingloader{
	padding-top: 50%;
}

	
}

@media(min-width:768px){

#header{
	width: 100%;
}

#menu{
   padding-top: 15px;
   text-align: right;
   padding-right: 0px;
}

#bodypage{
	margin-top: 100px;
}


.loadingloader{
	padding-top: 22%;
}

	
}